@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family:iYekan ;
    src:url("./fonts/yekan/BYekan-webfont.eot");
    src:url("./fonts/yekan/BYekan-webfont.ttf");
    src:url("./fonts/yekan/BYekan-webfont.woff")
}
* {
    box-sizing: border-box;
    font-family: iYekan;
    outline:none
}

body {
    direction: rtl;
}